@page "/filtros"
@using AppMultas.Models;
@using AppMultas.Services;
@inject VeiculoController veiculoController;
@rendermode InteractiveServer

<h3>CONSULTA DE MULTAS COM FILTROS</h3>



@code {
  
}