@page "/maioresMultas"
@using AppMultas.Models;
@using AppMultas.Services;
@inject VeiculoController veiculoController;
@rendermode InteractiveServer

<h3>MAIORES MULTAS DOS VEÍCULOS</h3>

@code {
   
}